<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pizza's</title>
<link rel="icon" href="images/luigi.ico" type="image/x-icon">
<link rel="stylesheet" href="css/luigi.css">
</head>
<body>
	<h1>Pizza's</h1>
	<ul class="zebra">
		<!-- <li th:each="pizza:${pizzas}" th:text="${pizza}"></li> -->
		<!--< li th:each="pizza:${pizzas}" th:object="${pizza}" th:text="|*{naam} &euro; *{prijs}|"></li>  -->
		<li th:each="pizza:${pizzas}" th:object="${pizza}">
			<span th:text="|*{naam} &euro; *{prijs}|"></span>
			<span th:if="*{pikant}">pikant</span>
		</li>

	</ul>
</body>
</html>