<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments::head(title = ${pizza} == null ? 'Pizza niet gevonden' : ${pizza.naam})">
</head>
<body>
	<nav th:replace="fragments::menu"></nav>
	<h1 th:if="${pizza} == null">
		Pizza niet gevonden: <span th:text="${id}"></span> 
	</h1>
	<div th:if="${pizza} != null" th:object="${pizza}">
		<h1 th:text="*{naam}"></h1>
		<dl>
			<dt>Nummer</dt>
			<dd th:text="*{id}"></dd>
			<dt>Prijs</dt>
			<dd th:text="*{prijs}"></dd>
			<dt>Pikant</dt>
			<dd th:text="*{pikant} ? 'Ja' : 'Nee'"></dd>
			<dt>In dollar</dt>
			<dd th:text="${inDollar}"></dd>
		</dl>
	</div>
</body>
</html>
